* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Caveat", serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: lightblue;
  border: 2px solid black;
  width: 90%;
  height: 90%;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__btn-wrapper {
  display: flex;
  width: 30%;
  height: 69%;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}
.main__screen {
  width: 70%;
  position: relative;
}
.main__btn {
  background-color: antiquewhite;
  width: 150px;
  height: 50px;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__screen-ghost-container {
  position: absolute;
  top: 37%;
  left: 40%;
}
.fa-solid {
  margin: 6px;
}

.fa-ghost {
  font-size: 100px;
}
.fa-skull-crossbones {
  font-size: 100px;
  color: red;
}

.fa-ghost-toggle-food {
  animation-name: movingFood;
  animation-duration: 0.2s;
}
.fa-ghost-toggle-bed {
  animation-name: movingBed;
  animation-duration: 0.2s;
}
.fa-ghost-toggle-fun {
  animation-name: movingFun;
  animation-duration: 0.2s;
}
.fa-ghost-toggle-work {
  animation-name: movingWork;
  animation-duration: 0.2s;
}
@keyframes movingFood {
  0% {
    top: 37%;
    left: 40%;
  }
  50% {
    top: 10%;
    left: 18%;
  }
  100% {
    top: 37%;
    left: 40%;
  }
}
@keyframes movingBed {
  0% {
    top: 37%;
    left: 40%;
  }
  50% {
    top: 60%;
    left: 18%;
  }
  100% {
    top: 37%;
    left: 40%;
  }
}
@keyframes movingFun {
  0% {
    top: 37%;
    left: 40%;
  }
  50% {
    top: 10%;
    left: 60%;
  }
  100% {
    top: 37%;
    left: 40%;
  }
}
@keyframes movingWork {
  0% {
    top: 37%;
    left: 40%;
  }
  50% {
    top: 60%;
    left: 60%;
  }
  100% {
    top: 37%;
    left: 40%;
  }
}

/* .main__btn--eat {
  }
  .main__btn--play {
  }
  .main__btn--sleep {
  }
  .main__btn--work {
  } */

.main__screen {
  background-color: antiquewhite;
  width: 90%;
  height: 70%;
  border: 2px solid black;
  border-top-right-radius: 15rem;
  border-bottom-right-radius: 15rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transform: scale(0.9);
  position: relative;
}

.fa-regular::before,
.fa-skull::before {
  font-size: 4rem;
  position: absolute;
  top: 3%;
  left: 30%;
}
.battery {
  font-size: 4rem;
  position: absolute;
  top: 3%;
  left: 50%;
}
.fa-battery-full {
  font-size: 4rem;
  position: absolute;
  top: 3%;
  left: 50%;
}
.fa-face-grin-stars,
.fa-face-rolling-eyes,
.fa-face-sad-cry {
  font-size: 12rem;
  position: absolute;
  top: 3%;
  left: 70%;
}

.main__screen-sec {
  border: 2px solid black;
  border-radius: 1rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__screen-sec--fun {
  position: absolute;
  right: 9rem;
  top: 3rem;
}
.main__screen-sec--food {
  position: absolute;
  left: 3rem;
  top: 3rem;
}

.main__screen-sec--sleep {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}
.main__screen-sec--work {
  position: absolute;
  right: 9rem;
  bottom: 3rem;
}
.fa-pizza-slice,
.fa-baseball-bat-ball,
.fa-bed,
.fa-briefcase {
  font-size: 60px;
}

.main__money-section {
  position: absolute;
  left: 29%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__money-section-amount {
  font-size: 44px;
}
.fa-dollar-sign {
  font-size: 35px;
}
.main__info-container {
  position: absolute;
  left: 49%;
  bottom: 6%;
}
.main__info-container__p {
  font-size: 35px;
}
.main__power-btn {
  font-size: 35px;
  position: absolute;
  left: 3%;
  bottom: 45%;
  height: 60px;
  width: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}
.fa-power-off {
  font-size: 35px;
  color: lightblue;
}
